In [1]:
import pandas as pd

In [2]:
interactions = pd.read_csv("./kaggle_data/interactions_train.csv")

In [3]:
interactions

          u      i             t
0      4456   8581  1.687541e+09
1       142   1964  1.679585e+09
2       362   3705  1.706872e+09
3      1809  11317  1.673533e+09
4      4384   1323  1.681402e+09
...     ...    ...           ...
87042   924   8171  1.699284e+09
87043  1106   9009  1.699872e+09
87044  5207  13400  1.683627e+09
87045   698   5779  1.686667e+09
87046  3111   7988  1.681743e+09

[87047 rows x 3 columns]

In [4]:
interactions_sorted = interactions.sort_values(["u", "t"]).reset_index(drop=True)

In [5]:
interactions_sorted

          u     i             t
0         0     0  1.680191e+09
1         0     1  1.680783e+09
2         0     2  1.680801e+09
3         0     3  1.683715e+09
4         0     3  1.683715e+09
...     ...   ...           ...
87042  7836  3471  1.728644e+09
87043  7836  3471  1.728644e+09
87044  7837  2191  1.728735e+09
87045  7837    88  1.728735e+09
87046  7837  2209  1.728735e+09

[87047 rows x 3 columns]

In [6]:
interactions_sorted["pct_rank"] = interactions_sorted.groupby("u")["t"].rank(pct=True, method='dense')
interactions_sorted.reset_index(inplace=True, drop=True)
train_data = interactions_sorted[interactions_sorted["pct_rank"] < 0.8]
test_data = interactions_sorted[interactions_sorted["pct_rank"] >= 0.8]

In [7]:
print("Training set size:", train_data.shape[0])
print("Testing set size:", test_data.shape[0])

Training set size: 65419
Testing set size: 21628

In [8]:
train_data.to_csv("./kaggle_data/train_data.csv", index=False)
test_data.to_csv("./kaggle_data/test_data.csv", index=False)